<h1>Customers</h1>

<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <% @customers.each do |customer| %>
          <% if show_link %>
            <%= link_to customer.full_name, customer %>
          <% else %>
            <%= customer.full_name %>
          <% end %>
          </p>
          <% if customer.image.present? %>
            <div class="card-image">
              <figure class="image">
                <%= image_tag customer.image.variant(resize_to_limit:[500,500]) %>
              </figure>
            </div>
          <% else %>
            <p>No image yet!</p>
          <%end %>
        <% end %>
    </div>
  </div>
</div>